@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

html {
    font-size: 63.5%;
}
:root {
    --serif-font: 'Cinzel', serif;
    --san-serif-font: 'Poppins', sans-serif;
    --brand-theme: #03060d;
    --light-brand-theme: #001a33;
    --hover-light-theme: #001a3380;
    --sm-font: 1.4rem;
    --lg-font: 1.8rem;
    --brand-text-color: #007aff;
    --brand-text-light-color: #e5e7eb;

}

body {
    font-family: var(--san-serif-font);
    background-color: var(--brand-theme);
    font-size: var(--sm-font);
}
h1, h2, h3, h4 {
    font-family: var(--serif-font);
    font-weight: 600;
}
button {
    font-size: var(--sm-font);
}

/* Custom Color */
.bg-primary {
    background-color: var(--light-brand-theme) !important;
}
.bg-secondary {
    background-color: var(--hover-light-theme) !important;
}

.text-primary {
    color: var(--brand-text-color);
}

.btn-primary {
    background: transparent;
    padding: 0.8rem 2rem;
    color: var(--brand-text-color) !important;
    border: 1px solid var(--brand-text-color);
    border-radius: 4rem;
    transition: all 0.4s;
}

.btn-primary:hover {
    background: var(--light-brand-theme) !important;
    color: #fff !important;
}
/* Custom Color Ends */

/* Custom Styles */
/* Ticking Cursor Styles */
.bar__cursor-heading::after {
    content: "";
    width: 20px;
    height: 2px;
    background: var(--brand-text-color);
    position: absolute;
    bottom: 7px;
    animation: bar-cursor 0.5s linear infinite alternate;
}
@media screen and (max-width: 570px) {
    .bar__cursor-heading::after {
        bottom: 3px;
    }
}

@keyframes bar-cursor {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.blur-background {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

img {
    max-width: 100%;
}
main > section:first-of-type img {
    object-fit: cover;
}

/* Diamond Shaped Separator */
.diamond {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.4rem;
    background: var(--brand-text-color);
    transform: rotate(45deg) translate(-4px);
}


/* Custom Styles Ends*/


/* NavBar Anchor Element Color */
#navbar-a a {
    color: var(--brand-text-color);
}
#navbar-a a[class="dropdown-item"] {
    font-size: var(--sm-font);
}

/* Header Starts */
div[banner-galakc="page-banner"] {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("./imgs/GalakC_Project/galaxy-1998.gif") no-repeat center center /cover;
}
/* Header Ends */

/* Featured Articles Starts Here */
div[data-div-with-opacity="background"] {
  background-color: var(--hover-light-theme);
  transition: background-color 0.4s;
}


a[data-hover-effect="anchor"]:hover [data-div-with-opacity="background"] {
    background-color: var(--light-brand-theme);
}

/* A Before Diamond for the Latest Article Section */
div[id="article-diamond"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--brand-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

/* Featured Articles Ends Here */

/* The WHY Section Starts Here */
#carouselForTheWhySection .carousel-item {
    height: 300px;
    max-height: 400px;
}


div[data-for-transparent="background"]:nth-child(1) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/neptune-6700917_1920.jpg) center center /cover;
}

div[data-for-transparent="background"]:nth-child(2) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/solar-system-1018038_1920.png) center center /cover;
}

div[data-for-transparent="background"]:nth-child(3) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/planet-3281830_1280.jpg) center center /cover;
}


div[data-for-transparent="background"]:nth-child(4) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/neptune-6700917_1920.jpg) center center /cover;
}

div[data-for-transparent="background"]:nth-child(5) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/solar-system-1018038_1920.png) center center /cover;
}

div[data-for-transparent="background"]:nth-child(6) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/planet-3281830_1280.jpg) center center /cover;
}

div[data-for-transparent="background"]:nth-child(7) {
    background: linear-gradient(to right, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/planet-3281830_1280.jpg) center center /cover;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

/* The WHY Section Ends Here */


/* Customize the Quick Read Carousel -- Start */
.flex-carousel {
    width: 80% !important;
    display: flex;
    gap: 2em;
}
.flex-carousel-items {
    position: relative;
    background-color: aqua;
}

.flex-carousel img {
    display: block;
    width: 100%;
    height: 224px;
    object-fit: cover;
}


/* Customize the Quick Read Carousel -- End */

/* The Collection Section Starts Here */

.active-filter-btn {
    background: var(--light-brand-theme) !important;
    color: #fff !important;
}


.overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.4s;
}

.collection-img:hover .overlay {
    opacity: 1;
}

.collection-img {
    height: 340px;
    overflow: clip;
}
.collection-img > img {
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.4s;
}
.collection-img:hover > img {
    transform: scale(0.9);
}

.collection-img h3 {
    transform: translateX(10px);
    transition: transform 0.8s;
}
.collection-img:hover h3 {
    transform: translateX(0);
}

.collection-img div.overlay > p {
    transform: translateX(-10px);
    transition: transform 0.8s;
}
.collection-img:hover div.overlay > p {
    transform: translateX(0);
}
/* The Collection Section Ends Here */

/* Quick Read Section Starts Here */
.swiper-wrapper {
    height: 300px;
}
.swiper-data-container {
    bottom: 0;
    left: 0;
    background: var(--hover-light-theme);
    color: #fff;
    transition: all 0.4s;
}
.swiper-slide:hover .swiper-data-container {
    color: var(--brand-text-color);
    background: var(--light-brand-theme);
}
.swiper-controls {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: calc(100% /2);
    background: var(--light-brand-theme);
}
.swiper-controls::after {
    font-size: 1.6rem;
    color: var(--brand-text-color);
    opacity: 1;
}
.swiper-pagination-bullet {
    background: var(--brand-text-color);
}

/* Quick Read Section Ends Here */


/* The Newsletter Section Starts Here */
#transparent__newsletter {
    background: linear-gradient(to left, var(--light-brand-theme), var(--hover-light-theme)), url(./imgs/GalakC_Project/solar-system_for_the_star_project.jpg) center center /cover;
    backdrop-filter: blur(20px);
}
#transparent__newsletter > #transparent__newsletter-child {
    background: rgba(0, 26, 51, 0.9);
}
/* The Newsletter Section Ends Here */


/* The Footer Starts Here */
footer ul {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    transition: all 0.4s;
}
footer a:hover {
    text-decoration: underline;
}
/* The Footer Ends Here */




/* Media Queries */
@media screen and (max-width: 1200px) {
    #big-container {
        flex-direction: column;
        row-gap: 2rem;
    }
    #big-container > article, #big-container > aside {
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    body, button {
        font-size: var(--lg-font) !important;
    }

    nav {
        height: 11vh !important;
    }
    #aside__container-for__bigScreens > div > a {
        justify-content: space-between !important;
    } 
}

@media screen and (max-width: 768px) {
    #medium-container {
        flex-direction: columnj;
    }
    #for__media-query, .full__width-mobile {
        width: 100% !important;
    }
    #featured__articles-heading {
        font-size: calc(1.1rem + 3.3vw);
    }
    #medium-container {
        flex-direction: column !important;
    }
    #medium-container > a {
        height: 200px;
        min-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .increase__width {
        width: 100%;
    }
    div[data-resize="small-screens"] {
        height: 455px !important;
    }
}



/* Copied from the Practice Style Sheet */
@media screen and (max-width: 992px) {
    #flex__one {
        flex-direction: column;
    }
    #flex__one > article.col-9, #flex__one > aside.col-3 {
        width: 100%;
    }
     
}

@media screen and (max-width: 600px) {
    #flex__two {
        flex-direction: column;
    }
    #flex__two >div.col-5, #flex__two > div.col-6 {
        width: 100%;
    }
    div[data-resize="small-screens"] {
        height: 255px !important;
    }
    /* div[data-resize="small-screens-for-aside"] > a {
        justify-content: space-around !important;
    } */
    article[data-resize="small-screens"] {
        width: 100vw !important;
        padding-left: 0 !important;
    }
    img[data-resize="small-screens"] {
        object-fit: initial !important;
        object-position: initial !important;
    }
    .overlay {
        opacity: 1;
    }
    .overlay:hover {
        opacity: 0 !important;
    }
    /* #aside__container-for__bigScreens {
        display: initial !important;
    }*/
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    #aside__container-for__bigScreens {
        flex-direction: row !important;
    }
}